---
layout: home
---
<div class="content">
<div style="margin-top:20px;">
    <div class="article" style="padding-bottom:20px;">
        {% for post in paginator.posts %}
        <div>
	  <h3 style="text-align:center;font-weight:normal;margin:0 auto;font-size:23px;"><a class="title" href="{{ post.url }}">{{ post.title }}</a></h3>
	  <div style="border-bottom: 1px solid #ccc;text-align:center;padding:0 0 14px 0;color:#999;">{{ post.date | date:"%Y-%m-%d" }} {{ post.posttime }} by nigelzeng</div>
	  <div class="summary" style="margin:18px 0 0 0;">
	    <!--<span class="alignleft">{{ post.description }}</span>-->
                <span class="alignleft">{{ post.content | truncatewords: 35 }}</span>
		<a class="" href="{{ post.url }}">Read More...</a></span>
          </div>
        </div>
            {% endfor %}
    </div>
</div> <!-- End of content -->

<div class="pagination pagination-centered">
<ul class="page-navi">
    <span>第{{paginator.page}}页(共{{paginator.total_pages}}页)</span>
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a href="/">&laquo</a>
        {% else %}
            <a href="/page{{paginator.previous_page}}">&laquo</a>
        {% endif %}
    {% else %}
        <a href="/">&laquo</a>
    {% endif %}

    {% if paginator.page == 1 %}
    <a class="current">1</a>
    {% else %}
    <a href="/">1</a>
    {% endif %}

    {% for count in (2..paginator.total_pages) limit:8 %}
        {% if count == paginator.page %}
            <a class="current">{{count}}</a>
        {% else %}
            <a href="/page{{count}}">{{count}}</a>
        {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
        <a href="/page{{paginator.next_page}}">&raquo</a>
    {% else %}
        <a>&raquo</a>
    {% endif %}
    <a href="/page{{paginator.total_pages}}">尾页</a>
</ul>
</div>
