.navbar-inner {
	height: 40px;
}
img{
	background-color: #ffffff;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #dedede;
}
.content {
	font-family: 'Rosario', 'Xin Gothic', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, sans-serif;
}

.article h3{
	font-size:20px;
}
