<div class="row" style="text-align:center;margin-top: 50px;">
  <h3>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h3>
  <div class="date">
    <span>{{ page.date | date:"%Y-%m-%d" }} by nigelzeng</strong>
  </div>
</div>

<style>
.article {
    background-color: #FFFFFF;
    min-height: 200px;
    padding: 30px;
    position: relative;
    margin: 24px auto 30px;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2),
     0 1px 1px rgba(0, 0, 0, .2),
     0 3px 0 #fff,
     0 4px 0 rgba(0, 0, 0, .2),
     0 6px 0 #fff, 
     0 7px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 
     1px 1px 0 rgba(0, 0, 0, .1),
     3px 3px 0 rgba(255, 255, 255, 1), 
     4px 4px 0 rgba(0, 0, 0, .1),
     6px 6px 0 rgba(255, 255, 255, 1), 
     7px 7px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 
     0 1px 1px rgba(0, 0, 0, .2),
     0 3px 0 #fff,
     0 4px 0 rgba(0, 0, 0, .2),
     0 6px 0 #fff, 
     0 7px 0 rgba(0, 0, 0, .2);
}
</style>

<div class="row-fluid post-full">
  <div class="span12">
    <div class="article">
    <div class="content">
      {{ content }}
    </div>

    <br/>
  {% unless page.categories == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-folder-open"></i></li>
      {% assign categories_list = page.categories %}
      {% include JB/categories_list %}
    </ul>
  {% endunless %}  

  {% unless page.tags == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-tags"></i></li>
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </ul>
  {% endunless %}  

    <hr>
    <div class="pagination" style="text-align:center;">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
  </div> <!--end of article-->
    <hr>
    {% include JB/comments %}
  </div>
</div>
